*{
    cursor: pointer;
    
    
}
.name{
      background-color: black;
      color: goldenrod;
      padding: 20px;
      margin: 10px;
   }
.name:hover{
    color: gold;
    cursor: pointer;
}
.name h1{
      display: inline;
   }
.name h4{
      display: inline;
      margin-left: 750px;
   }
.links{
    text-align: center;
    margin: 20px;
    
}
.links h3{
        background-color:aqua;
        color: red;
        display: inline;
    }
.aboutHead,.achievementshead,.certhead,.imagehead,.techhead,.prohead,.youhead,.contacthead,.softhead{
    background-color: black;
    color: goldenrod;
    display: inline;
    padding: 10px;
    margin: 10px;
    margin-bottom: 15px;
}
.aboutHead:hover{
    color: gold;
}

.techhead:hover{
    color: gold;
}

.softhead:hover{
    color: gold;
}

.prohead:hover{
    color: gold;
}

.achievementshead:hover{
    color: gold;
}

.certhead:hover{
    color: gold;
}

.imagehead:hover{
    color: gold;
}


.youhead:hover{
    color: gold;
}
.Videos, #videos{
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
}


.contact{
    text-align: center;
    margin-bottom: 5px;
}


