*{
    cursor: pointer;
    
    
}
.name{
      background-color: black;
      color: goldenrod;
      padding: 20px;
      margin: 10px;
   }
.name:hover{
    color: gold;
    cursor: pointer;
}
   h1{
      display: inline;
   }
   h4{
      display: inline;
      margin-left: 750px;
   }
.links{
    text-align: center;
    h3{
        background-color:aqua;
        color: red;
        display: inline;
    }
}
.aboutHead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    
   
}
.aboutHead:hover{
    color: gold;
}
.techhead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;   
}
.techhead:hover{
    color: gold;
}
.softhead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;   
}
.softhead:hover{
    color: gold;
}
.prohead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;   
}
.prohead:hover{
    color: gold;
}
.achievementshead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;   
}
.achievementshead:hover{
    color: gold;
}
.certhead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;   
}
.certhead:hover{
    color: gold;
}
.imagehead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;   
}
.imagehead:hover{
    color: gold;
}
.youhead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
}

.youhead:hover{
    color: gold;
}
.Videos, #videos{
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
}

.contacthead{
    display: inline-block;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
}
.phone{
    text-align: center;
    margin-bottom: 5px;
}


