.name{                               /* here we are particularly seclecting a class called name and while calling we have to use .name */
      background-color: black;
      color: goldenrod;
      padding: 20px;
      margin: 10px;
   }
.name:hover{                      /* here hover is if we kept our mouse on that it will change its property as per we give */
    color: gold;
    cursor: pointer;
}
.name h1{                         /* here we can also style a specific tag inside a section */ 
      display: inline;
   }
    
}
.name h4{
      display: inline;
      float: right;
}
.links{
    text-align: center;
    margin: 20px;
    
}
.links h3{
        background-color:aqua;
        color: red;
        display: inline;
    }
.aboutHead,
.achievementshead,
.certhead,
.imagehead,
.techhead,
.prohead,
.youhead,
.contacthead,
.softhead{  /* here I want to apply this style to all heading i can do with the help of comma , and if i do that it will apply same style for everything */
    background-color: black;
    color: goldenrod;
    display: inline;
    padding: 10px;
    margin: 10px;
    margin-bottom: 15px;
}
.aboutHead:hover,
.achievementshead:hover,
.certhead:hover,
.imagehead:hover,
.techhead:hover,
.prohead:hover,
.youhead:hover,
.contacthead:hover,
.softhead:hover {
    color: gold;
}
.aboutHead:hover,
.achievementshead:hover,
.certhead:hover,
.imagehead:hover,
.techhead:hover,
.prohead:hover,
.youhead:hover,
.contacthead:hover,
.softhead:hover {
    cursor: pointer;
}

.Videos, #videos{  /* I don't know about this chat gpt gives this -->
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
}


.contact{
    text-align: center;
    margin-bottom: 5px;
}







